.comment{:id => "comment_#{comment.id}"}
  %a{:name => "comment_#{comment.id}"}
  .author
    - if comment.url.empty?
      =h comment.author
    - else
      = link comment.author, :to => (comment.url =~ /^http:\/\// ? comment.url : "http://#{comment.url}"), :target => '_blank', :rel => 'nofollow'
    - if authorized?
      %spon.date
        = comment.email
        = comment.ip_address
    %span.date
      \//
      =h comment.created_at.strftime("%B %d, %Y at %I:%M %p").downcase.capitalize
  .content= comment.rendered_content
  - if authorized?
    .admin
      - if params[:action] == 'moderate'
        = link 'Approve', :to => resource((@post || comment.post), comment, :approve), :class => 'action edit', :method => :post
      = link 'Edit', :to => resource((@post || comment.post), comment, :edit), :class => 'action edit'
      = link 'Delete', :to => resource((@post || comment.post), comment), :method => "delete", :confirm => "Are you sure?", :class => 'action delete'