- comment_status = ((post.comments.size == 1) ? "One Comment" : (((post.comments.size==0) ? 'No' : post.comments.size.to_s) + ' Comments'))
.post{:id => "post_#{post.id}"}
  %h1= link post.title, :to => resource(post)
  .extra_info
    .published_at
      = relative_date(post.published_at).capitalize
    ·
    .comments_count
      = link comment_status, :to => resource(post)
    - if authorized?
      ·
      .views_count
        = "#{post.views_count || 0} view" + ((post.views_count != 1) ? 's' : '')
  .content= post.rendered_content
  .categories
    %h5 Categories:
    - post.categories.each do |category|
      .element= link category.name, :to => resource(category)
    - if post.categories.empty?
      .element None
  .tags
    %h5 Tagged:
    - post.tags.each do |tag|
      .element= link tag.name, :to => resource(tag)
    - if post.tags.empty?
      .element None
