- throw_content :title do
  = link "Dashboard", :to => slice_url(:dashboard)
  - unless @post.new_record?
    \/
    = link @post.title, :to => resource(@post)
  \/
  = @post.new_record? ? "New Post" : "Edit"
  
= error_messages_for @post

= render_form :post