- comment_status = ((@post.comments.size == 1) ? "One Comment" : (((@post.comments.size==0) ? 'No' : @post.comments.size.to_s) + ' Comments'))

.post{:id => "post_#{@post.id}"}
  %h1= link @post.title, :to => resource(@post)

  .extra_info
    .published_at
      = relative_date(@post.published_at).capitalize
    ·
    .comments_count
      = link comment_status, :to => resource(@post)

  #content.content= @post.rendered_content

  #tags.tags
    %h5 Tagged:
    - @post.tags.each do |tag|
      .tag= link tag.name, :to => resource(tag)


- if authorized?
  %p
    = link 'Edit', :to => resource(@post, :edit), :class => 'action edit'
    = link 'Delete', :to => resource(@post), :method => 'delete', :confirm => "Are you sure?", :class => 'action delete'

#comments_part    
  .comments_number= "#{@comments.size} Comment#{@comments.size != 1 ? "s" : ""}"

  #comments= partial 'comments/comment', :with => @comments

  #new_comment_form
    %h3 Leave a comment
    = error_messages_for @comment
    = render_form :comment