%h1=h @post.title
#content= @post.rendered_content
#tags
  Tags:
  = @post.tags_list

- if authorized?
  %p
    = link 'edit', :to => slice_url(:edit_post, :id => @post.slug)
    = link 'delete', :to => slice_url(:post, :id => @post.slug), :method => 'delete', :confirm => "Are you sure?"
    
.comments_number= "#{@comments.size} Comment#{@comments.size != 1 ? "s" : ""}"

#comments= partial 'comments/comment', :with => @comments

#new_comment_form
  %h3 Leave a comment
  = error_messages_for @comment
  = render_form :comment